/* 移动端样式 */
@import (reference) './variable.less';

// 提示信息样式
.dialog-mobile-message {
  .dialog-content {
    .dialog-message {
      max-width: @dialog-mobile-message-max-width;
    }
  }
}

// 信息框样式, 确认模态框
.dialog-mobile-alert,
.dialog-mobile-confirm {
	.dialog-box {
		width: @dialog-mobile-box-width;
    max-width: @dialog-mobile-box-max-width;
		.dialog-content { 
      .dialog-message { max-width: @dialog-mobile-box-message-max-width; }
			padding: @dialog-mobile-box-content-vertical-padding @padding;
		}
    .dialog-footer {
      border-top: 1px solid #eee;
      .dialog-cancel-btn, .dialog-confirm-btn {
        flex: 1;
        height: @mobile-btn-height;
        line-height: @mobile-btn-height;
      }
      .dialog-cancel-btn { border-right: 1px solid #eee; }
      .dialog-confirm-btn { color: @confirm-btn-font-color; }
    }
	}
}

/* .dialog-box-no-flex {
	.dialog-footer {
		.dialog-cancel-btn, .dialog-confirm-btn {
			display: inline-block;
		}
		.dialog-cancel-btn { float: left; }
		.dialog-confirm-btn { float: right; }
	}
	.dialog-footer-1 {
		.dialog-cancel-btn {
			float: initial;
		}
	}
}
.dialog-mask-no-flex {
	.dialog-box {
		position: absolute;
		top: 50%;
		left: 50%;
		&:extend(.dialog-mask-no-flex);
	}	
}
.dialog-box-pc {
	width: 300px;
	padding: @padding 0;
}
.dialog-box-no-mask {
	position: fixed;
	left: 50%;
	top: 50%;
} */