/* pc端样式 */
@import (reference) './mixin.less';

// 提示信息样式
.dialog-pc-message {
  border-radius: 4px;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, .65);
  &.gradientShow {
    animation: gradientShow .3s ease forwards;
  }
  .dialog-content {
    display: flex;
    align-items: center;
    padding: 10px;
    .icon-success, .icon-warning, .icon-error {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
    }
    .icon-success {
      background-image: url(/static/images/icon-success.png);
    }
    .icon-warning {
      background-image: url(/static/images/icon-warning.png);
    }
    .icon-error {
      background-image: url(/static/images/icon-error.png);
    }
    .dialog-message {
      max-width: 260px;
      word-wrap: break-word;
      line-height: 2;
      text-align: center;
    }
  }
}

// 信息框样式, 确认模态框
.dialog-pc-alert, .dialog-pc-confirm {
  .dialog;
  .dialog-box {
    width: 320px;
    max-width: 420px;
    background-color: #fff;
    .dialog-header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-bottom: 1px solid #eee;
      .dialog-title {
        flex: 1;
        margin-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .dialog-header-close {
        display: inline-block;
        width: 16px;
        height: 16px;
        cursor: pointer;
        background: url(/static/images/icon-close.png) center center no-repeat;
      }
    }
    .dialog-content {
      .dialog-message { max-width: 280px; }
      padding: 50px 20px;
      justify-content: center;
    }
  }
}