@common-font-color: #333;
@confirm-btn-font-color: #25a1e9;

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  &, .dialog-mask {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: fixed;
  }
  .dialog-mask {
    z-index: 9999;
    background-color: rgba(55, 55, 55, .6);
  }
  .dialog-box {
    border-radius: 4px;
    z-index: 10000;
    overflow: hidden;
    max-width: 300px;
    &.gradientShow {
      animation: gradientShow .3s ease forwards;
    }
    /* &.gradientHide {
      animation: gradientHide .3s ease forwards;
    } */
    .dialog-content {
      display: flex;
      .dialog-message {
        max-width: 200px;
        font-size: 14px;
        word-wrap: break-word;
        line-height: 2;
        text-align: center;
      }
    }
    .dialog-footer {
      display: flex;
      border-top: 1px solid #eee;
      .dialog-cancel-btn, .dialog-confirm-btn {
        flex: 1;
        display: inline-block;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }
      .dialog-cancel-btn { border-right: 1px solid #eee; }
      .dialog-confirm-btn { color: #25a1e9; }
    }
  }
}