html, body, div, span, p, button, img {
	padding: 0;
	margin: 0;
	outline: none;
}

.btn {
	width: 47.5%;
	display: block;
	cursor: pointer;
	line-height: 36px;
	border-radius: 4px;
}
.dialog-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	position: fixed;
	.dialog-mask {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		z-index: 9999;
		position: fixed;
		background-color: rgba(55, 55, 55, .6);
	}
	.dialog-box {
		// max-width: 70%;
		color: #fff;
		// padding: 4% 0;
		text-align: center;
		border-radius: 4px;
		background-color: #000;
		z-index: 10000;
		&.gradientShow {
			animation: gradientShow .3s ease forwards;
		}
		/* &.gradientHide {
			animation: gradientHide .3s ease forwards;
		} */
		.dialog-content {
			/* .dialog-img {
				height: auto;
				padding-bottom: 4%;
			} */
			display: flex;
			align-items: center;
			padding: 10px;
			.icon-success, .icon-warning, .icon-error {
				width: 16px;
				height: 16px;
				margin-right: 10px;
				display: inline-block;
				background-position: center;
				background-repeat: no-repeat;
			}
			.icon-success {
				background-image: url(/static/images/icon-success.png);
			}
			.icon-warning {
				background-image: url(/static/images/icon-warning.png);
			}
			.icon-error {
				background-image: url(/static/images/icon-error.png);
			}
			.dialog-message {
				max-width: 300px;
				font-size: 14px;
				line-height: 2;
			}
		}
		.dialog-footer {
			padding: 6% 5% 0;
			display: flex;
			justify-content: space-between;
			.dialog-cancel-btn, .dialog-confirm-btn, .dialog-btn3 {
				@extend .btn;
			}
			.dialog-cancel-btn { background-color: #2fc295; }
			.dialog-confirm-btn { background-color: #e34b4f; }
			.dialog-btn3 { background-color: #d2be15; }
		}
		.dialog-footer-1 {
			justify-content: center;
			.dialog-cancel-btn {
				width: 100%;
				background-color: #25a1e9;
			}
		}
		.dialog-footer-3 {
			.dialog-cancel-btn, .dialog-confirm-btn, .dialog-btn3 {
				width: 30%;
				font-size: 12px;
			}
		}
	}
}
.dialog-box-no-flex {
	.dialog-footer {
		.dialog-cancel-btn, .dialog-confirm-btn, .dialog-btn3 {
			display: inline-block;
		}
		.dialog-cancel-btn { float: left; }
		.dialog-confirm-btn { float: right; }
	}
	.dialog-footer-1 {
		.dialog-cancel-btn {
			float: initial;
		}
	}
	.dialog-footer-3 {
		.dialog-cancel-btn, .dialog-confirm-btn, .dialog-btn3 {
			width: 30%;
			float: left;
			font-size: 12px;
			margin-right: 5%;
		}
		.dialog-btn3 { margin-right: 0; }
	}
}
.dialog-mask-no-flex {
	.dialog-box {
		position: absolute;
		top: 50%;
		left: 50%;
		@extend .dialog-mask-no-flex;
	}	
}
.dialog-box-pc {
	width: 300px;
	padding: 20px 0;
}
.dialog-box-no-mask {
	position: fixed;
	left: 50%;
	top: 50%;
}
@keyframes gradientShow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(100%);
	}
}
/* @keyframes gradientHide {
	from {
		transform: scale(100%);
	}
	to {
		transform: scale(0);
	}
} */