html, body, div, span, p, button, img {
	padding: 0;
	margin: 0;
	outline: none;
}

@mixin dialog-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	&, .dialog-mask {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		position: fixed;
	}
	.dialog-mask {
		z-index: 9999;
		background-color: rgba(55, 55, 55, .6);
	}
	.dialog-box {
		border-radius: 4px;
		z-index: 10000;
		overflow: hidden;
		max-width: 300px;
		&.gradientShow {
			animation: gradientShow .3s ease forwards;
		}
		/* &.gradientHide {
			animation: gradientHide .3s ease forwards;
		} */
		.dialog-content {
			display: flex;
			.icon-success, .icon-warning, .icon-error {
				width: 16px;
				height: 16px;
				margin-right: 10px;
				display: inline-block;
				background-position: center;
				background-repeat: no-repeat;
			}
			.icon-success {
				background-image: url(/static/images/icon-success.png);
			}
			.icon-warning {
				background-image: url(/static/images/icon-warning.png);
			}
			.icon-error {
				background-image: url(/static/images/icon-error.png);
			}
			.dialog-message {
				max-width: 200px;
				font-size: 14px;
				line-height: 2;
				text-align: center;
			}
		}
		.dialog-footer {
			display: flex;
			border-top: 1px solid #eee;
			.dialog-cancel-btn, .dialog-confirm-btn {
				flex: 1;
				display: inline-block;
				cursor: pointer;
				height: 40px;
				line-height: 40px;
				text-align: center;
			}
			.dialog-cancel-btn { border-right: 1px solid #eee; }
			.dialog-confirm-btn { color: #25a1e9; }
		}
	}
}

// 提示信息样式
.dialog-message-wrap {
	border-radius: 4px;
	z-index: 10000;
	overflow: hidden;
	max-width: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	// transform: translate3d(-50%, -50%, 0);
	color: #fff;
	background-color: rgba(0, 0, 0, .65);
	&.gradientShow {
		animation: gradientShow .3s ease forwards;
	}
	.dialog-content { 
		align-items: center;
		padding: 10px;
		font-size: 14px;
	}
}

// 信息框样式
.dialog-alert-wrap {
	@include dialog-wrap;
	.dialog-box {
		width: 80%;
		background-color: #fff;
		.dialog-content { 
			padding: 30px 20px;
			justify-content: center;
		}
	}
}

// 确认模态框
.dialog-confirm-wrap {
	@extend .dialog-alert-wrap;
}

.dialog-box-no-flex {
	.dialog-footer {
		.dialog-cancel-btn, .dialog-confirm-btn {
			display: inline-block;
		}
		.dialog-cancel-btn { float: left; }
		.dialog-confirm-btn { float: right; }
	}
	.dialog-footer-1 {
		.dialog-cancel-btn {
			float: initial;
		}
	}
}
.dialog-mask-no-flex {
	.dialog-box {
		position: absolute;
		top: 50%;
		left: 50%;
		@extend .dialog-mask-no-flex;
	}	
}
.dialog-box-pc {
	width: 300px;
	padding: 20px 0;
}
.dialog-box-no-mask {
	position: fixed;
	left: 50%;
	top: 50%;
}
@keyframes gradientShow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(100%);
	}
}
/* @keyframes gradientHide {
	from {
		transform: scale(100%);
	}
	to {
		transform: scale(0);
	}
} */